<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css" media="screen and (min-width:769px)">
    <link rel="stylesheet" href="./mobile.css" media="screen and (max-width:768px)">




</head>

<body>

    <!-- 이메일 로그인. 구글 로그인. 카카오톡 로그인. 페이스북 로그인. 네이버 로그인. 깃허브 로그인. -->
    <div class="loginWorld">
        <div class="loginBox">
            <div class="logo">
                <img src="./images/tutorial_chick.png" alt="mnmsoft icon">
                <div>
                    <span class="logo_text">어서오세요</span>
                </div>
            </div>
            <div class="login">
                <div class="close" onclick="closePopup();">
                    <img src="./images/cancel.svg" alt="닫기">
                </div>
                <div class="loginInnerBoxWrapper">
                    <div class="loginInnerBox">
                        <h2>로그인</h2>
                        <div class="loginForm">
                            <input type="text" name="email" value="" placeholder="이메일주소를 입력해주세요" />
                            <button >로그인</button>
                        </div>
                        <div class="gap"></div>
                        <div class="gap"></div>
                        <div class="gap"></div>
                        <h2>소셜 로그인</h2>
                        <div class="snsLogin">
                            <img src="./images/Share_faceBook.png" alt="페이스북 로그인">
                            <img src="./images/Share_faceBook.png" alt="네이버 로그인">
                            <img src="./images/Share_talk.png" alt="카카오톡 로그인">
                            <img src="./images/Share_faceBook.png" alt="구글 로그인">
                            <img src="./images/Share_faceBook.png" alt="깃허브 로그인">
                        </div>
                    </div>
                    <div class="join">
                        <span>아직 회원이 아니신가요? <a href="#">회원가입</a></span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="topBar">
        <div class="logo">mnmsoft</div>
        <div class="button">
            <a href="#" onclick="openPopup();"><span >로그인</span></a>
        </div>
    </div>

    <div>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>
        더미 데이터 </br>

    </div>

    <script>
        function openPopup() {
            console.log(1);
            document.querySelector(".loginWorld").classList.remove("off");
            document.querySelector(".loginWorld").classList.add("on");
            document.querySelector("body").style.overflowY = "hidden";
        }

        function closePopup() {
            document.querySelector(".loginWorld").classList.remove("on");
            document.querySelector(".loginWorld").classList.add("off");
            document.querySelector("body").style.overflowY = "initial";
        }
    </script>
</body>

</html>